@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 29 78 216;
  --color-secondary: 220 38 38;
  --color-accent: 217 119 6;
  --color-background: 249 250 251;
  --color-text: 17 24 39;
}

.dark {
  --color-primary: 59 130 246;
  --color-secondary: 248 113 113;
  --color-accent: 252 211 77;
  --color-background: 17 24 39;
  --color-text: 243 244 246;
}

body {
  color: rgb(var(--color-text));
  background: rgb(var(--color-background));
}
